<%= form_for(@send) do |f| %>
  <% if @send.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@send.errors.count, "error") %> prohibited this send from being saved:</h2>

      <ul>
      <% @send.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-horizontal">
    <%= f.label "Phone Number", class: 'control-label' %>
    <%= f.text_field :phone, size: 63, class: 'form-control' %>
  </div>
  <div class="field form-horizontal">
    <%= f.label "Text Message", class: 'control-label'%>
    <%= f.text_field :message, size: 63, class: 'form-control'%>
  </div>

  <br />
  <div class="actions form-group">
          <%= f.submit 'Send Message' %>
      </div>

  
<% end %>
